<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-6">
      <h1>Generador Mapa de Karnaugh</h1>
      <p>Para generar una tabla puede utilizar variables de la <strong>A a la D</strong> y para negar usar comilla
        simple o apostrofe <strong>(')</strong>. Ejemplo: <i>A'B'C+A'BC'+ABC'+ABC</i></p>
        <br>
      <p>Nota: Puede utilizar espacios y solo genera Mapas de 3 y 4 variables
        <br>
        Ejemplo de 3: <i>A'B'C+A'BC'+ABC'+ABC</i> <br>
        Ejemplo de 4: <i>A'B'C'D+AB'C'D+A'BC'D+A'BCD+A'BCD'+ABC'D+ABCD+ABCD'</i>
      </p>
      <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Operacion</label>
          <input type="email" class="form-control" id="exampleInputEmail1" name="operacion" #operacion="ngModel"
            [(ngModel)]="opeModel.operacion">
        </div>
        <button type="submit" class="btn btn-primary" (click)="operation()">Generar Mapa</button>
      </form>
    </div>
  </div>
  <div class="row justify-content-md-center" *ngIf="resultOperacion">
    <div class="col col-lg-6">
      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th *ngIf="resultadosfirstRow.length > 0" scope="col">BC</th>
            <th *ngIf="resultadosfirstRow4Col.length > 0" scope="col">CD</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th *ngIf="resultadosfirstRow.length > 0" scope="row">A</th>
            <th *ngIf="resultadosfirstRow4Col.length > 0" scope="row">AB</th>
            <th scope="row">00</th>
            <th scope="row">01</th>
            <th scope="row">11</th>
            <th scope="row">10</th>
          </tr>
          <!-- 3 Col -->
          <tr *ngIf="resultadosfirstRow.length > 0">
            <th scope="row">0</th>
            <td *ngFor="let fr of resultadosfirstRow">{{fr}}</td>
          </tr>
          <tr *ngIf="resultadosfirstRow.length > 0">
            <th scope="row">1</th>
            <td *ngFor="let fr of resultadosSecondRow">{{fr}}</td>
          </tr>
          <!-- 4Col -->
          <tr *ngIf="resultadosfirstRow4Col.length > 0">
            <th scope="row">00</th>
            <td *ngFor="let fr of resultadosfirstRow4Col">{{fr}}</td>
          </tr>
          <tr *ngIf="resultadosfirstRow4Col.length > 0">
            <th scope="row">01</th>
            <td *ngFor="let fr of resultadosSecondRow4Col">{{fr}}</td>
          </tr>
          <tr *ngIf="resultadosfirstRow4Col.length > 0">
            <th scope="row">11</th>
            <td *ngFor="let fr of resultadosthirdRow4Col">{{fr}}</td>
          </tr>
          <tr *ngIf="resultadosfirstRow4Col.length > 0">
            <th scope="row">10</th>
            <td *ngFor="let fr of resultadosfourthRow4Col">{{fr}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
